.project-show {
  padding: 40px;
  min-height: 100vh; /* Imposta l'altezza minima a 100vh per occupare una pagina intera */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente il contenuto */
  align-items: center; /* Centra orizzontalmente il contenuto */

  h2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: clamp(80px, 11vw, 11vw);
    background-color: transparent;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra le card orizzontalmente */
    gap: 20px; /* Aggiungi uno spazio tra le card */
  }
}
