.buttonDarkMode {
  position: fixed;
  z-index: 11;
  top: 35px;
  left: 3vw;
  height: 100px;
  background: transparent;
  transition: 0.7s ease-in-out;
  margin-bottom: 10px;

  button {
    border: none;
    cursor: pointer;
    background: transparent;

    box-icon {
      background: transparent;
    }
  }
}
