.buttonDarkMode {
  position: fixed;
  z-index: 11;
  top: 40px;
  left: 2.5vw;
  background: transparent;
  transition: 0.7s ease-in-out;

  button {
    border: none;
    cursor: pointer;
    background: transparent;

    box-icon {
      background: transparent;
    }
  }
}
