.contact-form-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  position: relative;
}

.form-left,
.form-right {
  max-width: 50%;
  font-size: clamp(10px, 2vw, 2vw);
  padding: 40px;
}

.form-left h3,
.form-right h3 {
  margin-bottom: 20px;
  font-size: clamp(20px, 6vw, 6vw);
}

.form-group {
  margin-bottom: 15px;
}
