.button-contact {
  background: var(--bg);
  color: var(--body_color);
  border: 2px solid var(--body_color);
  position: absolute;
  right: 5vw;
  bottom: 10vh;
  padding: 20px;
  text-transform: uppercase;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.7s ease-in-out;

  font: {
    size: 18px;
  }
}

.button-contact:hover {
  color: var(--body_color);
  background-color: var(--body_bg);
  opacity: 0.9;
  border: 2px solid var(--body_color);
  box-shadow: 2px 2px 4px var(--body_color);
}
