.top-description {
  position: fixed;
  z-index: 11;
  top: 50px;
  right: 5vw;
  max-width: 140px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;

  font: {
    weight: 300;
    size: 18px;
  }
}
