.book-call-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .calendly-inline-widget {
    border-radius: 30px 30px 30px 30px;
    width: 100%;
    max-width: 700px;
    height: 630px;
  }
}
