.main-container {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  position: relative;
  width: calc(100vw - 50px);
  margin: 0 auto;

  h1 {
    font-size: clamp(100px, 15vw, 15vw);
    font-weight: 700;
    margin-bottom: 10vh;
    max-width: 70vw;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    color: #111;
    line-height: 1;
  }
}
