.contact-section {
  padding: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h2 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 10%;
    font-size: clamp(80px, 11vw, 11vw);
    background-color: transparent;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
  }
}
