.top-description {
  position: fixed;
  z-index: 11;
  top: 40px;
  right: 5vw;
  max-width: 140px;
  color: var(--body_color);
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  letter-spacing: 1px;
  transition: 0.7s ease-in-out;
  cursor: default;
  background: transparent;

  font: {
    weight: 300;
    size: 18px;
    background: transparent;
  }

  a:hover {
    transform: scale(1.2);
    transition: 2s ease;
  }
}
