:root {
  --body_bg: rgba(255, 255, 255, 0.967);
  --body_color: #111;
  --link_color: grey;
}

.dark-mode {
  --body_bg: #111;
  --body_color: rgba(255, 255, 255, 0.967);
  --link_color: rgb(255, 220, 220);
}

.light-mode {
  --body_bg: rgba(255, 255, 255, 0.967);
  --body_color: #111;
  --link_color: grey;
}

body {
  background-color: var(--body_bg);
  color: var(--body_color);
}

.main-container {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  position: relative;
  width: calc(100vw - 50px);
  margin: 0 auto;

  h1 {
    font-size: clamp(100px, 13vw, 13vw);
    font-weight: 700;
    margin-bottom: 10vh;
    margin-top: 399px;
    max-width: 70vw;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    color: var(--body_color);
    line-height: 1;
    pointer-events: none;
    margin-right: 10px;
    margin-left: 10px;

    @media (max-width: 768px) {
      margin-bottom: 30vh;
      margin-left: -5px;
    }

    #type-writer {
      background: transparent;
      margin-top: 15px;
      color: var(--body_color);
      font-size: clamp(52px, 10vw, 10vw);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: clip;
      max-width: 50%;

      @media (max-width: 768px) {
        #type-writer {
          max-width: 90vw;
          font-size: clamp(60px, 10vw, 10vw);
        }
      }
    }
  }
}
