:root {
  --body_bg: rgba(255, 255, 255, 0.967);
  --body_color: #111;
  --link_color: grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--body_bg);
  color: var(--body_color);
  font-family: sans-serif;
}

.dark-mode {
  --body_bg: #111;
  --body_color: rgba(255, 255, 255, 0.967);
  --link_color: rgb(255, 220, 220);
}

.light-mode {
  --body_bg: rgba(255, 255, 255, 0.967);
  --body_color: #111;
  --link_color: grey;
}

body {
  background-color: var(--body_bg);
  color: var(--body_color);
  transition: background-color 9.5s ease, color 0.5s ease;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100vw - 50px);
  margin: 0 auto;

  h1 {
    font-size: clamp(4rem, 12vw, 15rem);
    font-weight: 700;
    font-family: "Anton", sans-serif;
    color: var(--body_color);
    line-height: 1;
    pointer-events: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20vh;
  }
  .type-writer {
    background: var(--body_bg);
    font-size: clamp(2rem, 6vw, 8rem);
    white-space: nowrap;
    overflow: hidden;
    font-weight: 700;
    font-family: "Anton", sans-serif;
    color: var(--body_color);
    line-height: 1;
    pointer-events: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
    padding-bottom: 100px;
    margin-bottom: 20px;
  }
  @media (max-width: 768px) {
    h1 {
      margin-top: 30vh;
      font-size: clamp(6rem, 20vw, 15rem);
    }
  }

  .hover-zone {
    position: relative;
    display: inline-block;
  }

  .hover-zone > div {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 10;
  }
}
